{
  "name": "@paco-bsc/scholarship-tracker",
  "private": true,
  "license": "MIT",
  "author": "PACO-BSC",
  "homepage": "https://github.com/PACO-BSC/scholarship-tracker",
  "repository": {
    "type": "git",
    "url": "https://github.com/PACO-BSC/scholarship-tracker.git"
  },
  "bugs": {
    "url": "https://github.com/PACO-BSC/scholarship-tracker/issues"
  }
}
